body{
font-family: Arial, sans-serif;
background-color: #f5f5f5;
direction: ltr;
text-align: left;
}
.container{
width: 90%;
    max-width: 1000px;
margin: 40px auto;
background-color: white;
padding: 30px;
border-radius: 8px;
box-shadow: 0 0 10px;

}
h2{
text-align: left;
margin-bottom: 20px;

}
form.row{
display: flex;
gap: 20px;
margin-bottom: 15px;
}
form input,form select{
flex: 1;
padding: 10px;
border: 1px solid#ccc;
border-radius: 5px;
}
.full{
width: 100%;

}
.botton{
padding: 10px 20px;
border: none;
background-color: #1976d2;
color: white;
border-radius: 5px;
cursor: pointer;
}
.botton[type="rest"]{
    background-color: #ccc;
    color: black;
}